.App {
	width: 100%;
	height: 100vh;
}

.Header {
	width: 100%;
	height: 100px;
	background-color: #0c0a1d;
	color: #fff;
}

.Catalogs {
	width: 100%;
	height: 15px;
	background: rgb(100, 41, 185);
	background: linear-gradient(
		90deg,
		rgba(100, 41, 185, 1) 38%,
		rgba(38, 79, 197, 1) 79%
	);
}

.PopularFilm {
	width: 100%;
	height: 650px;
	background-color: #141414;
}

.Footer {
	width: 100%;
	height: 350px;
	background: rgb(10, 8, 21);
	background: linear-gradient(
		135deg,
		rgba(10, 8, 21, 1) 63%,
		rgba(18, 24, 60, 1) 100%
	);
}

.HomeOff {
	display: none;
}

.FilmsOff {
	display: none;
}

.TvShowsOff {
	display: none;
}
